<h3>Exemplos de Pipes</h3>

<p>Título: {{livro.titulo | uppercase | lowercase | camelCase}}</p>
<p>Título: {{livro.titulo | lowercase}}</p>
<p>Estrelas: {{livro.rating | number:'2.1-2'}}</p>
<p>Páginas: {{livro.numeroPaginas}}</p>
<p>Preço: {{livro.preco | currency:'BRL':true}}</p>
<p>Data Lançamento: {{livro.dataLancamento | date:'medium'}}</p>
<p>url: {{livro.url}}</p>
<br>

<p>Livro: {{livro | json}}</p>

<br>
<h3>Pipe Puro</h3>
<input type="text" [(ngModel)]="filtro">

<br><br>

<input type="text" #novoValor>

<button (click)="addCurso(novoValor.value)">Add Curso</button>

<ul>
    <li *ngFor="let liv of livros | filtroArray: filtro"> {{ liv }}</li>
</ul>

<h3>Pipe Impuro</h3>

<ul>
    <li *ngFor="let liv of livros | filtroArrayImpuro: filtro"> {{ liv }}</li>
</ul>

<h3>Maneira correta de se usar os filtros</h3>

<ul>
    <li *ngFor="let liv of obterCursos() "> {{ liv }}</li>
</ul>

<p>{{valorAsync | async}}</p>


