<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" (click)="aba = 'home'" [class.active]="aba=='home'" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" (click)="aba = 'Features'" [class.active]="aba=='Features'" href="#">Features</a>
      <a class="nav-item nav-link" (click)="aba = 'Pricing'" [class.active]="aba=='Pricing'" href="#">Pricing</a>
     
    </div>
  </div>

</nav>

<div class="container" [ngSwitch]="aba">
  <p *ngSwitchCase="'home'">Home ativado</p>
  <p *ngSwitchCase="'Features'">Features ativado</p>
  <p *ngSwitchCase="'Pricing'">Pricing ativado</p>
</div>